apiVersion: apps/v1
kind: Deployment
metadata:
  name: productcatalogservice
  namespace: productcatalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productcatalogservice
  template:
    metadata:
      labels:
        app: productcatalogservice
    spec:
      containers:
        - name: productcatalogservice
          image: myselfazeem/productcatalogservice:v1
          ports:
            - containerPort: 3550
              name: grpc

          envFrom:
            - configMapRef:
                name: productcatalog-configmap

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

          livenessProbe:
            tcpSocket:
              port: 3550
            initialDelaySeconds: 15
            periodSeconds: 10

          readinessProbe:
            tcpSocket:
              port: 3550
            initialDelaySeconds: 5
            periodSeconds: 10
