apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30007
