apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkoutservice
  namespace: checkout
spec:
  replicas: 1
  selector:
    matchLabels:
      app: checkoutservice
  template:
    metadata:
      labels:
        app: checkoutservice
    spec:
      containers:
        - name: checkoutservice
          image: myselfazeem/checkoutservice:v1
          ports:
            - containerPort: 5050
              name: grpc
          envFrom:
            - configMapRef:
                name: checkout-config
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          livenessProbe:
            tcpSocket:
              port: 5050
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 5050
            initialDelaySeconds: 10
            periodSeconds: 10
