apiVersion: apps/v1
kind: Deployment
metadata:
  name: shippingservice
  namespace: shipping
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shippingservice
  template:
    metadata:
      labels:
        app: shippingservice
    spec:
      containers:
        - name: shippingservice
          image: myselfazeem/shippingservice:v1
          ports:
            - containerPort: 50051
              name: grpc
          envFrom:
            - configMapRef:
                name: shipping-config
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
          livenessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 5
            periodSeconds: 10
