apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: shoppingassistantservice-hpa
  namespace: shoppingassistant
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: shoppingassistantservice
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
