apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendationservice
  namespace: recommendation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
        - name: recommendationservice
          image: myselfazeem/recommendationservice:v1
          ports:
            - containerPort: 8080
              name: grpc
          envFrom:
            - configMapRef:
                name: recommendation-config
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
