apiVersion: v1
kind: Service
metadata:
  name: emailservice
  namespace: email
spec:
  type: ClusterIP
  selector:
    app: emailservice
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080
