[defaults]
inventory = inventories/production/hosts.ini
remote_user = ubuntu
host_key_checking = False
roles_path = roles

# disable gathering facts cache to ensure fresh data every run
#retry_files_enabled = False
